.cards {
  padding: 4rem;
  background: #fff;
}

h2 {
  text-align: center;
}

.cards-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.card-column {
  display: flex;
  justify-content: center;
}

.card-button-link {
  color: white;
}
